<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/output.css">
        <title>Formulaire de connexion</title>
    </head>
    <body class="m-8">
        <main class="p-4 mx-auto w-1/2">

            <div class="container-md border p-10 mx-auto my-50 rounded-xl shadow-xl mb-16">
                <h2 class="text-xl text-teal-500 font-bold mb-4">CONNEXION</h2>
                <form action="">
                    <div class="mb-6">
                        <label for="email" class="block mb-2 texte-sm font-medium text-gray-500">E-Mail</label>
                        <input type="email" name="email" id="email" class="bg-gray-200 border border-gray-500 text-gray-900 rounded-lg text-sm block w-full p-2">
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block mb-2 texte-sm font-medium text-gray-500">Mot de passe</label>
                        <input type="password" name="password" id="password" class="bg-gray-200 border border-gray-500 text-gray-900 rounded-lg text-sm block w-full p-2">
                    </div>
                    <div class="mb-6">
                        <button type="submit" class="inline-flex items-center py-2 px-3 bg-teal-700 text-white rounded-lg text-sm font-medium hover:bg-teal-900">VALIDER</button>
                    </div>
                </form>
            </div>
            
        </main>
    </body>
</html>
